# rename to .env
SERVER_NAME=<domain>
SERVER_ADMIN=
BUILDKIT_INLINE_CACHE=1
DOCKER_IP=DOCKER_HOST
DB_USER=
DB_NAME=
DB_HOST=
DB_PASS=
DB_PORT=
ORIGIN_HOST=<same-as-server-name>
ORIGIN_PORT=443
#    make a secure Django Secret Key with https://miniwebtool.com/django-secret-key-generator/
#    you must escape any $ in the key ... change $ to $$
DJ_SK=<django-secret-key>
